/* Estilos generales */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #f0f0f0; /* Color de fondo de la página */
}

/* Estilos para el formulario */
form {
  background-color: #fff; /* Fondo del formulario */
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 80%; /* Ancho del formulario */
  max-width: 600px; /* Ancho máximo del formulario */
}

/* Estilos para la sección de reservas */
.viatges-message {
  margin-top: 20px;
  padding: 10px;
  background-color: #dff0d8; /* Color de fondo de la sección de reservas */
  border: 1px solid #3c763d; /* Borde de la sección de reservas */
  border-radius: 4px;
}

/* Estilos para mensajes de error */
.error-message {
  margin-top: 20px;
  padding: 10px;
  background-color: #f2dede; /* Color de fondo de los mensajes de error */
  border: 1px solid #a94442; /* Borde de los mensajes de error */
  border-radius: 4px;
  color: #a94442; /* Color del texto de los mensajes de error */
}

/* Estilos para imágenes */
img {
  max-width: 40%; /* Ajustar imágenes al contenedor padre */
  height: auto;
  float: down; /* Alinear la imagen a la derecha */
  margin-left: 20px; /* Agregar un margen derecho para separar el texto */}

  .clock {
    margin: 0px auto;
    width: 100px;
    height: 100px;
    fill: black;
  }

  .btn-delete-comment.custom { 
    background-color: #ff0000; 
    border: none; 
    color: white; 
    padding: 10px 20px; 
    text-align: center; 
    text-decoration: none; 
    display: inline-block; 
    font-size: 16px; 
    margin: 4px 2px; 
    cursor: pointer; 
    border-radius: 5px; 
    -webkit-border-radius: 5px; -moz-border-radius: 5px; -ms-border-radius: 5px; -o-border-radius: 5px; }

  .btn-send-comment.custom { 
    background-color: #00ff2f; 
    border: none; 
    color: white; 
    padding: 10px 20px; 
    text-align: center; 
    text-decoration: none; 
    display: inline-block; 
    font-size: 16px; 
    margin: 4px 2px; 
    cursor: pointer; 
    border-radius: 5px; 
    -webkit-border-radius: 5px; -moz-border-radius: 5px; -ms-border-radius: 5px; -o-border-radius: 5px; }

  .btn-send-comment.custom:hover {
    background-color: #00cc11;
  }
    
  .btn-send-comment.custom:active {
    background-color: #258920;
  }

  .btn-delete-comment.custom:hover {
    background-color: #cc0000;
  }

  .btn-delete-comment.custom:active {
    background-color: #990000;
  }
  
  .outer-circle,.center-circle {fill: DarkSlateGray;}
  .hours,
  .minutes,
  .seconds {transform-origin: center;stroke-linecap: round;}
  .hours {stroke: fuchsia;stroke-width: 3px;transition: transform 1s ease-in-out;}
  .minutes {stroke-width: 2px;stroke: lime;transition: transform 1s ease-in-out;}
  .seconds {stroke: white;}
  .line {stroke-width: 1px;stroke: white;stroke-linecap: round;transform-origin: center;}
/* Estilos para las reservas anteriores */


.btn-delete-comment:hover {
  background-color: #c9302c;
}
.btn-delete-comment {
  background-color: #dc3545; /* Cambia este color al que desees */
  color: #fff; /* Cambia este color al que desees */
  border: none;
  padding: 8px 12px;
  border-radius: 4px;
  cursor: pointer;
}